.App-header-main {
    padding-top: 2vh;
    background-color: var(--white-plain);
    min-height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: var(--react-blue);
}
.bungkus {
    display:flex;
    margin: 0;
}
.main-card {
    text-align: left;
    display: inline-block;
    box-shadow: 0 1vh 10px -5px var(--dark-shadow);
    position: static;
    color: var(--react-dark);
    background-color: var(--white);
    border-radius: 20px;
    margin: 12vh 2vw;
    padding: 10vh 5vw;
    min-width: calc(100% - 2*(10vw));
  }
  .card-in {
    justify-content: left;
    text-align: left;
    display: inline-block;
    box-shadow: 0 1vh 10px -5px var(--dark-shadow);
    position: static;
    color: var(--white);
    border-radius: 20px;
    margin: 5vh 1vw;
    padding: 3vh 3vw;
    width: 20vw;
    height: 40vh;
    z-index: 1;
  }